<!DOCTYPE html>
<html lanh="en">
    <head>
        <meta charset="utf-8">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="99374051558-r1kkeqccgt3d59fk7qofe23kf8cn58oa.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width",initial-scale=1.0" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       
        <title>Login</title>
    </head>
<body >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Dropdrive</a>
      </div>
    </div>
  </nav>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 15%;">

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<!--  
<a href="#" onclick="signOut();">Sign out</a> -->
</div>
<script>
//  function onSignIn(googleUser) {
//   var profile = googleUser.getBasicProfile();
//   console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
//   console.log('Name: ' + profile.getName());
//   console.log('Image URL: ' + profile.getImageUrl());
//   console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
// }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log( 'User signed out.');
    });
  }
  function onSignIn(googleUser) {
  var id_token = googleUser.getAuthResponse().id_token;

  var xhr = new XMLHttpRequest();
xhr.open('post', '/login');
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onload = function() {
  console.log('Signed in as: ' + xhr.responseText);
  if(xhr.responseText=='success'){
    signOut();
    location.assign('/dashboard')
  }
};
xhr.send(JSON.stringify({token: id_token}));
}

</script>
</body>
</html>